# Node.js
node_modules/

# Python
__pycache__/

# Environment variable
.env
.env.*

# Fichiers backups
*.bak
*.bak_*
rf_tests/

# captures d'écran (artefacts de run)
*.png

# logs (artefacts de run)
*.log
*.txt

